<footer class="footer has-text-centered">
    <div class="container">
        <p>
            &copy; {{ page.date | htmlYear }} {{config.companyName}}
            | <a href="/impressum">Impressum</a>
        </p>

        <p>
            {{config.companyStreetAddress}}, {{config.companyZip}} {{config.companyCity}}
            <a href="https://www.google.at/maps/place/KFZ+Manfred+Kalkbrenner/@47.471784,16.3544532,17z/data=!3m1!4b1!4m5!3m4!1s0x476e9ca4e2457c21:0x306e8cfe7cabddf6!8m2!3d47.471784!4d16.3566419" target="_blank">
                <span class="fa fa-map-marker-alt"></span>
            </a>
        </p>

        <p>
            <a href="tel:{{config.companyPhone}}"><span class="fa fa-phone"></a> <a href="tel:{{config.companyPhone}}"></span>{{config.companyPhone}}</a>,
            <a href="mailto:{{config.companyEmail}}"><span class="fa fa-envelope"></span></a> <a href="mailto:{{config.companyEmail}}">{{config.companyEmail}}</a>
        </p>

        <a href="https://www.wko.at/service/bildung-lehre/Guetesiegel-Meisterbetrieb.html" target="_blank">
            <img class="footer__meisterlogo" src="/images/meisterbetrieb.png" />
        </a>
    </div>
</footer>
