<footer class="footer has-text-centered">
    <div class="container">
        <p>
            &copy; {{ page.date | htmlYear }} {{config.companyName}}
        </p>

        <p>
            {{config.companyStreetAddress}}, {{config.companyZip}} {{config.companyCity}}
        </p>

        <a href="https://www.wko.at/service/bildung-lehre/Guetesiegel-Meisterbetrieb.html" target="_blank">
            <img class="footer__meisterlogo" src="/images/meisterbetrieb.png" />
        </a>
    </div>
</footer>
