<footer class="footer has-text-centered">
    <div class="container">
        <p>
            &copy; {{ page.date | htmlYear }} {{config.companyName}}
            | <a href="/impressum">Impressum</a>
        </p>

        <p class="footer__address">
            <span>{{config.companyStreetAddress}}<span class="separator">, </span></span>
            <span>
                {{config.companyZip}} {{config.companyCity}}
                <a href="{{config.googleMapsUrl}}" target="_blank">
                    <span class="fa fa-map-marker-alt"></span>
                </a>
            </span>
        </p>

        <p class="footer__contact">
            <span>
                <a href="tel:{{config.companyPhone}}"><span class="fa fa-phone"></span></a> <a href="tel:{{config.companyPhone}}">{{config.companyPhone}}</a>
            </span>
            <span>
                <a href="mailto:{{config.companyEmail}}"><span class="fa fa-envelope"></span></a> <a href="mailto:{{config.companyEmail}}">{{config.companyEmail}}</a>
            </span>
        </p>

        <a href="https://www.wko.at/service/bildung-lehre/Guetesiegel-Meisterbetrieb.html" target="_blank">
            <img class="footer__meisterlogo" src="/images/logo-kfz.svg" />
        </a>
    </div>
</footer>
