.page-homepage {
    &__header {
        position: relative;
        background-size: cover;
        height: 60vw;
        min-height: 60vh;
        max-height: 80vh;

        .header-slider {
            width: 100%;
        }

        .header-slider-item {
            width: 100%;
            height: 60vw;
            min-height: 60vh;
            max-height: 80vh;
            img {
                object-fit: cover;
                min-width: 100%;
                min-height: 100%;
            }
        }

        .flickity-prev-next-button {
            z-index: 10;
        }

        .slide-image-1 {
            object-position: 75% 25%;
        }

        .slide-image-2 {
            object-position: 50% 50%;
        }

        .slide-image-3 {
            object-position: 50% 75%;
        }

        .slide-image-4 {
            object-position: 66% 33%;
        }

        .slide-image-5 {
            object-position: 80% 50%;
        }

        .slide-image-6 {
            object-position: 50% 100%;
        }
    }

    &__tagline-container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
    }

    &__tagline {
        display: inline-block;
        color: $yellow;
        font-size: 3rem;
        font-style: italic;
        font-family: "Libre Baskerville", serif;
        margin: 0 $padding-sides 4rem $padding-sides;
        padding: 0.4rem;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 5px;

        @media screen and (max-width: $tablet - 1) {
            font-size: 2rem;
        }
    }

    &__pickerl {
        .media-left img {
            width: 100px;
        }
    }
    
    .map {
        width: 100%;
        height: 300px;
    }
}
