.page-homepage {
    &__header {
        position: relative;

        .header-slider {
            width: 100%;
        }

        .header-slider-item {
            width: 100%;
            max-height: 640px;
            img {
                object-fit: cover;
                min-width: 100%;
            }
        }

        .flickity-prev-next-button {
            z-index: 10;
        }
    }

    &__tagline-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    &__tagline {
        color: $yellow;
        font-size: 3rem;
        font-style: italic;
        font-family: serif;
        margin: 0 2rem 4rem 2rem;
        padding: 0.4rem;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }

    &__welcome {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    &__services {
        padding-top: 2rem;
        padding-bottom: 4rem;

        .h2 {
            margin-bottom: 2rem;
        }
    }

    &__pickerl {
        .media-left img {
            width: 100px;
        }
    }

    &__opening-hours {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}
