.page-content {
    flex: 1;
    margin-top: $navbar-height + 2rem;

    a {
        word-wrap: break-word;
    }

    @media screen and (max-width: $desktop - 1) {
        .container {
            padding-left: $padding-sides;
            padding-right: $padding-sides;
        }
    }
}
