<html lang="de">
  <head>
    {% include 'components/gtm-header.html' %}
    {% include 'components/favicons.html' %}

    <title>{{title}}</title>
    <script src="/js/bundle.js?v=7"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body id="page-{{pageType}}">
    {% include 'components/gtm-body.html' %}

    {% include "components/header.html" %}

    {{ content | safe }}

    {% include "components/footer.html" %}
  </body>
</html>
